*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{
    background:#f8fafc;
    color:#1e293b;
}


nav{
    background:#0f172a;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}


nav h2{
    color:white;
}


nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
}


nav a:hover{
    color:#facc15;
}


/* HERO */

.hero{

height:90vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

background:
linear-gradient(
rgba(15,23,42,.7),
rgba(15,23,42,.7)
);

color:white;

padding:20px;

}


.hero h1{

font-size:60px;

margin-bottom:20px;

}


.hero p{

font-size:22px;

max-width:700px;

}



/* BUTTON */

.button{

margin-top:30px;

background:#facc15;

color:black;

padding:15px 35px;

border-radius:30px;

text-decoration:none;

font-weight:bold;

}



/* SECTIONS */

section{

padding:80px 10%;

}


.title{

text-align:center;

font-size:40px;

margin-bottom:50px;

}


/* CARDS */


.cards{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:30px;

}


.card{

background:white;

padding:30px;

border-radius:20px;

box-shadow:
0 10px 30px rgba(0,0,0,.1);

text-align:center;

}


.card h2{

margin-bottom:15px;

}


.card a{

display:inline-block;

margin-top:20px;

padding:12px 25px;

background:#2563eb;

color:white;

border-radius:20px;

text-decoration:none;

}



/* SIMULATION */

.model{

height:500px;

background:#0f172a;

border-radius:25px;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-size:30px;

margin-bottom:40px;

}



.info{

background:white;

padding:30px;

border-radius:20px;

box-shadow:
0 5px 20px rgba(0,0,0,.1);

}



footer{

background:#0f172a;

color:white;

padding:30px;

text-align:center;

}
